{extends file="../../../View/base.html"}
{block name='script'}
<script>

    var ctler_uri = '{$smarty.const.__CONTROLLER__}/';
    dazz.load([
        'assets/plugins/datatables/media/css/dataTables.bootstrap.min.css',
        'assets/plugins/datatables/media/js/jquery.dataTables.min.js',
        'assets/plugins/datatables/media/js/dataTables.bootstrap.min.js'
    ]);

    dazz.load('assets/admin/system/module/js/management.js');

</script>
{/block}
{block name='stage'}
<div id="editModule" >
    <form class="form-horizontal" id="form_module" role="form" >
        <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control input-sm" name="title" placeholder="请输入模块名称">
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" name="description" placeholder="描述模块的信息">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-4">
                <input type="text" value="0" class="form-control input-sm" name="order" placeholder="">
                <span class="help-block">大的序号可以保持模块在列表中处于靠前 </span>
            </div>
            <label class="col-sm-2 control-label">启用状态</label>
            <div class="checkbox col-md-4">
                <label>
                    <input type="radio" value="1" name="status"> 启用
                    <input type="radio" value="0" name="status"> 禁用
                </label>
            </div>
        </div>
    </form>
</div>

<table id="dtable" class="display table-condensed table-bordered" cellspacing="0" width="100%"></table>
{/block}