{extends file="../../../View/datatables.html"}
{block name="page_css"}
<style>
    .nestable_container {
        min-height: 600px;
        border: 1px solid #eeeeee;
    }
</style>
{/block}
{block name='page_js'}
<script>
    Kbylin.load('/assets/plugins/jquery.nestable/jquery.nestable.js');
    Kbylin.load('/assets/plugins/jquery.nestable/jquery.nestable.css');

    $(function () {
        var ctler_uri = '{$smarty.const.__CONTROLLER__}/';

        var loadModule = function () {
            Dazzling.post(ctler_uri+'listTopMenu',{},function (data) {
                console.log(data);
                Dazzling.nestable.create(data,1,"#top_nestable_attach");
                return false;
            });
        };
        loadModule();

        Dazzling.nestable.create();

        var n1 = $("#modules");
        var n2 = $("#actions");
        n1.nestable({ group: 1}).on("change", function () {
            console.log(n1.nestable("serialize"));
        });
        n2.nestable({ group: 2}).on("change", function () {
            console.log(n2.nestable("serialize"));
        });

        $("#expandall").click(function () {
            $(".dd").nestable("expandAll");
        });
        $("#collapseall").click(function () {
            $(".dd").nestable("collapseAll");
        });

        $("#saveall").click(function () {
            var seria = n2.nestable("serialize");
            console.log(seria,Kbylin.str2Obj(seria));
        });

        Dazzling.page.registerAction('全部展开',function () {
            $(".dd").nestable("expandAll");
        },"icon-resize-full");
        Dazzling.page.registerAction('全部折叠',function () {
            $(".dd").nestable("collapseAll");
        },"icon-resize-small");

        $("#addTop").click(function () { });
        $("#rmTop").click(function () { });
        $("#saveTop").click(function () { });

        $("#addSide").click(function () { });
        $("#rmSide").click(function () { });
        $("#saveSide").click(function () { });

    });
</script>
{/block}
{block name="stage_content"}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-4">
                <h3>顶部菜单  </h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h3>侧边菜单</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="addTop"><i class="icon-plus"></i> 添加</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="rmTop"><i class="icon-minus"></i> 删除</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="saveTop"><i class="icon-save"></i> 保存</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="addSide"><i class="icon-plus"></i> 添加</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="rmSide"><i class="icon-minus"></i> 删除</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="saveSide"><i class="icon-save"></i> 保存</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">&nbsp;</div>

    <div class="col-md-12">
        <div class="col-md-6 nestable_container" id="top_nestable_attach" ></div>
        <div class="col-md-6 nestable_container" id="side_nestable_attach"></div>
    </div>
</div>
{/block}