{extends file="../../../View/datatables.html"}
{block name="page_css"}
<style>
    .nestable_container {
        border: 1px solid #eeeeee;
    }
</style>
{/block}
{block name='page_js'}
<script>
    Kbylin.load('/assets/plugins/jquery.nestable/jquery.nestable.js');
    Kbylin.load('/assets/plugins/jquery.nestable/jquery.nestable.css');

    $(function () {
        var ctler_uri = '{$smarty.const.__CONTROLLER__}/';

        Dazzling.page.registerAction('全部展开',function () {
            $(".dd").nestable("expandAll");
        },"icon-resize-full");
        Dazzling.page.registerAction('全部折叠',function () {
            $(".dd").nestable("collapseAll");
        },"icon-resize-small");
        $(window).resize(function () {
            Dazzling.utils.adjustMinHeight(".nestable_container");
        }).trigger('resize');

        var top_nestable_attach;
        var side_nestable_attach;

        var addTopForm = Dazzling.modal.create("#addTopForm",{
            'title':'添加顶部菜单项目',
            'confirmText':'添加',
            'cancelText':'取消',
            //确认和取消的回调函数
            'confirm':null,
            'cancel':null
        });


        var loadModule = function () {
            Dazzling.post(ctler_uri+'listTopMenu',{},function (data) {
                top_nestable_attach = Dazzling.nestable.create(data,1,"#top_nestable_attach");
            });
            return this;
        };

        $("#addTop").click(function () {
                Dazzling.modal.show(addTopForm);
//            top_nestable_attach.createItem({ id:1,title:'yes bean'});
        });
        $("#rmTop").click(function () { });
        $("#saveTop").click(function () { });

        $("#addSide").click(function () { });
        $("#rmSide").click(function () { });
        $("#saveSide").click(function () { });


        loadModule();
    });
</script>
{/block}
{block name="stage_content"}
<div id="icon-select-modal">
    <!--
     TODO 图标选择界面
     -->
</div>


<div id="addTopForm">
    <form class="form-horizontal" id="form_module">
        <div class="form-body">
            <div class="form-group">
                <label class="control-label col-md-2">名称</label>
                <div class="col-md-4">
                    <input class="form-control input-sm" name="title" type="text" />
                    <span class="help-block">显示在菜单栏上的名称</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">图标</label>
                <div class="col-md-3">
                    <button class="btn dazzling btn-sm">选择</button>
                    <span class="help-block">菜单项显示的图标</span>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-4">
                <h5>顶部菜单  </h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h5>侧边菜单</h5>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="addTop"><i class="icon-plus"></i> 添加</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="rmTop"><i class="icon-minus"></i> 删除</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="saveTop"><i class="icon-save"></i> 保存</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="addSide"><i class="icon-plus"></i> 添加</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="rmSide"><i class="icon-minus"></i> 删除</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm dazzling" id="saveSide"><i class="icon-save"></i> 保存</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">&nbsp;</div>

    <div class="col-md-12">
        <div class="col-md-6 nestable_container" id="top_nestable_attach" ></div>
        <div class="col-md-6 nestable_container" id="side_nestable_attach"></div>
    </div>
</div>
{/block}