{extends file="../Common/datatables.html"}
{block name='page_js'}
<script>
    $(function () {
        var datatable = $('#dtable');

        var tableapi = datatable.DataTable({
            'columns':[
                {
                    'title':'ID',
                    'width':'8%',
                    'data':'id'
                },
                {
                    'title':'名称',
                    'width':'20%',
                    'className':'text_align_center',
                    'data':'title'
                },
                {
                    'title':'状态',
                    'width':'8%',
                    'className':'text_align_center',
                    'data':function(row){
                        return row.status?'启用':'禁止';
                    }
                },
                {
                    'title':'排序',
                    'width':'8%',
                    'className':'text_align_center',
                    'data':'order'
                },
                {
                    'title':'代号',
                    'width':'15%',
                    'data':'code'
                },
                {
                    'title':'描述',
                    'data':'description'
                }
            ]
        });
        datatable.find("tbody").on('dblclick','tr',function () {
            var data = tableapi.row(this).data();
            console.log(data);
        });
        var remodal = Dazzling.modal.create('#editModule',{});
        var input_title = $("#title");
        var input_status = $("#status");
        var input_order = $("#order");
        var input_description = $("#description");

        Dazzling.post(
            '{$smarty.const.__CONTROLLER__}/listModule',
            {},
            function (data) {
                Dazzling.datatable.bind(tableapi).load(data);

                datatable.on( 'click', 'tr', function () {
                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                    }else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });

                Dazzling.contextmenu.bind(
                    "#dtable tr",
                    [
                        {
                            'index':'edit',
                            'title':'Edit'
                        },
                        false,
                        ['delete','删除']
                        ,0,'Separated link'
                    ],
                    function(element,tabindex,title){
                        console.log(element,tabindex,title);

                        input_title.val(element.title);
                        input_status.val(element.status);
                        input_order.val(element.order);
                        input_description.val(element.description);

                        remodal.open();
                    }
                );
            }
        );

    });
</script>
{/block}
{block name='stage_content'}
<div id="editModule" >
</div>
<table id="dtable" class="display table-condensed table-bordered" cellspacing="0" width="100%"></table>
{/block}