{extends file="../Common/datatables.html"}
{block name='page_css'}
<style>
    .text_align_center {
        text-align: center;
    }
    .text_align_left {
        text-align: left;
    }
    .text_align_right {
        text-align: right;
    }
</style>
{/block}
{block name='page_js'}
<script>
    $(function () {
        var datatable = $('#dtable');

        var tableapi = datatable.DataTable({
            'columns':[
                {
                    'title':'ID',
                    'width':'8%',
                    'data':'id'
                },
                {
                    'title':'名称',
                    'width':'20%',
                    'className':'text_align_center',
                    'data':'title'
                },
                {
                    'title':'父ID',
                    'width':'8%',
                    'data':'parent'
                },
                {
                    'title':'状态',
                    'width':'8%',
                    'className':'text_align_center',
                    'data':function(row){
                        return row.status?'启用':'禁止';
                    }
                },
                {
                    'title':'排序',
                    'width':'8%',
                    'className':'text_align_center',
                    'data':'order'
                },
                {
                    'title':'代号',
                    'width':'15%',
                    'data':'code'
                },
                {
                    'title':'描述',
                    'data':'description'
                }
            ]
        });

        datatable.find("tbody").on('dblclick','tr',function (e) {
            var data = tableapi.row(this).data();
            console.log(data);
        });


        Dazzling.post(
            '{$smarty.const.__CONTROLLER__}/listModule',
            {},
            function (data) {
                Dazzling.datatable.bind(tableapi).load(data);

                Dazzling.contextmenu.bind("#dtable tr",['Action',0,'Separated link']);

            }
        );
    });
</script>
{/block}
{block name='stage_content'}
<table id="dtable" class="table table-condensed table-striped table-bordered table-hover" cellspacing="0" width="100%"></table>
{/block}