<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kbylin</title>
    <script src="{$smarty.const.PUBLIC_URI}assets/js/kbylin.js"></script>

    <script>
        var infos = Kbylin.str2Obj('{$infos}');
        var cdn = infos['cdn'];
        var options = {
            'public_url':"{$smarty.const.PUBLIC_URI}"
        };
        Kbylin.init(options).load(cdn['ico'],'ico');
        Kbylin.load(cdn['css'],'css');
    </script>

    {block name='css'}{/block}
    {block name='page_css'}{/block}
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="#"><img src="" id="dazz_logo" alt="logo" class="logo-default" /></a>
                <div class="menu-toggler sidebar-toggler"></div>
            </div>
            <div class="hor-menu hor-menu-light hidden-sm hidden-xs">
                <ul class="nav navbar-nav" id="dazz_header_menu"></ul>
            </div>
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="query">
                    <span class="input-group-btn">
                        <a href="#" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form>
            <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="" id="avatar" />
                            <span class="username" id="nickname"> </span>
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" id="menu"></ul>
                    </li>
                    {block name='quick_sidebar_entry'}{/block}
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul id="dazz_sidebar_menu" class="page-sidebar-menu page-sidebar-menu-light page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px"></ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                {block name='stage_top_bar'}
                    <div class="page-bar">
                        <!--<ul class="page-breadcrumb">-->
                        <!--</ul>-->
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn dazzling btn-default btn-outline dropdown-toggle" data-toggle="dropdown">
                                    操作 <i class="icon-list"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" id="dazz_page_action" role="menu"></ul>
                            </div>
                        </div>
                    </div>
                {/block}
                {block name='stage_content'}
                {/block}
            </div>
        </div>
        {block name='quick_sidebar'}{/block}
    </div>
    <div class="page-footer">
        <div class="page-footer-inner" id="dazz_copyright"> </div>
        <div class="scroll-to-top"><i class="icon-arrow-up"></i></div>
    </div>
</body>

<script>
    var ieVersion = Kbylin.ieVersion();
    if( ieVersion < 9){
        Kbylin.load(cdn['js_lt9'],'js');
    }else{
        Kbylin.load(cdn['js_gt9'],'js');
    }


    Kbylin.load(cdn['js'],'js');

</script>

{block name='js'}{/block}
<script>
    Dazzling.init();
    Dazzling.initUserInfo(infos['user'],['avatar.src','nickname','menu']);
    Dazzling.initPageInfo(infos['page'],['headermenu','metas!']);

</script>
{block name='page_js'}{/block}
</html>