{extends file="../Common/base.html"}

{block name='css'}
<!--<link href="{$smarty.const.PUBLIC_URI}assets/plugins/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">-->
<link href="{$smarty.const.PUBLIC_URI}assets/plugins/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
{/block}
{block name='js'}
<script src="{$smarty.const.PUBLIC_URI}assets/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{$smarty.const.PUBLIC_URI}assets/plugins/datatables/media/js/dataTables.bootstrap.min.js"></script>
{/block}