{extends file="../Common/base.html"}



{block name='quick_sidebar_entry'}
<script>
    loadResource('assets/css/quicksidebar.css','css');
</script>
<li class="dropdown dropdown-quick-sidebar-toggler"><a href="#" class="dropdown-toggle"><i class="icon-control-start"></i></a></li>
{/block}
{block name='quick_sidebar'}
<a href="#" class="page-quick-sidebar-toggler"><i class="icon-control-end"></i></a>
<div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
    <div class="page-quick-sidebar">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#" data-target="#quick_sidebar_tab_1" data-toggle="tab"> User
                    <span class="badge badge-danger"></span>
                </a>
            </li>
            <li class="">
                <a href="#" data-target="#quick_sidebar_tab_2" data-toggle="tab"> Setting
                    <span class="badge badge-danger"></span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> More
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                            <i class="icon-bell"></i> Alerts </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-target="#quick_sidebar_tab_2" data-toggle="tab">
                            <i class="icon-settings"></i> Settings </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active tab-content-item" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-item-list" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    <h3 class="list-heading">hello</h3>
                    <ul class="media-list list-items">
                        <li class="godetail">
                            google
                        </li>
                        <li class="" >
                            baidu
                        </li>
                    </ul>
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-item-wrapper">
                        <div class="page-quick-sidebar-nav">
                            <a href="javascript:void(0);" class="page-quick-sidebar-back-to-list">
                                <i class="icon-arrow-left"></i>Back</a>
                        </div>
                        <hr />
                        <div class="page-quick-sidebar-item-content">
                            ....
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane tab-content-item" id="quick_sidebar_tab_2">
                <div class="page-quick-sidebar-item-list" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    <h3 class="list-heading">yes bean</h3>
                    <ul class="media-list list-items">
                        <li class="godetail">
                            nice
                        </li>
                        <li class="" >
                            nice
                        </li>
                    </ul>
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-item-wrapper">
                        <div class="page-quick-sidebar-nav">
                            <a href="javascript:void(0);" class="page-quick-sidebar-back-to-list">
                                <i class="icon-arrow-left"></i>Back</a>
                        </div>
                        <hr />
                        <div class="page-quick-sidebar-item-content">
                            ....
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}